body {
    font-family: arial;
}

#loginBar {
    width: 100%;
    height: 30px;
    background-color: #b000b5;
    color: white;
    border: 2px solid black;
    text-align: right;
    margin: 0px;
}

.loginLink {
    background-color: black;
    padding: 5px;
}

#stupidSpaceNextToLogInLink {
    visibility: hidden;
}

#headerBar {
    height: 150px;
    background-color: green;
    padding: 25px;
    color: white;
}

#contentArea {
    padding: 25px;
}

#kitTitle {
    text-align: center;
    color: navy;
}

#items {
}

.title {
    text-align: center;
}