/*I used various types of float*/
/*I used target:_blank;*/

body {
    background-color: #90A4AE;
}

header, main, footer, #wrapper {
        width: 900px;
        margin: 0 auto; 
        text-align: center;
        background-color: #546E7A;
}

nav {
    text-align: left;
}

nav a {    /*links within a "nav" container */
    
    font-family: 'Electrolize', sans-serif;
    padding:16px;
    padding-top:4px;
    padding-bottom:4px;
    font-size:1.2em;
    text-decoration: none; /*removes underline*/
    color: white;            /*by default, links are blue*/
}

nav a:hover, #current {  /*pseudo class*/

    background-color: #90A4AE;
    font-size: 1.3em;
    transition: .5s;
}

#pic1 {
    width: 150px;
    height: 125px;
    padding-bottom: 2%;
    padding-right: 2%;
    float: left;
}

#pic2 {
    width: 180px;
    height: 125px;
    padding-bottom: 2%;
    padding-left: 2%;
    float: right;
}

#pic4{
    width: 175px;
    height: 125px;
    padding-bottom: 2%;
    padding-right: 2%;
    float: left;
}

#inventors {
    width: 150px;
    height: 150px;
    padding-top: 1%;
    padding-right: 5%;
}
    
#content {
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
}

#link {
    color:silver;
    target:_blank;
}

#head1 {
    font-family: 'Electrolize', sans-serif;
    font-size: 3.5em;
}

#head3{
    font-family: 'Electrolize', sans-serif;
}

#head4 {
    font-family: 'Electrolize', sans-serif;
}

footer {
    color:black;
    font-size: 10px;
    text-align: center;
}