body {
    background-image:url("repo/homework/2/img/lettersBackground.png");
}

header, footer, #form, #wrapper {
        font-family: 'Kalam', sans-serif;
        width: 35%;
        margin: 0 auto; 
        text-align: center;
        background-color: #D5D8DC;
}



#head1{
    font-family: 'Arimo', sans-serif;
    padding-top: 10px;
}

#names {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */    
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

footer {
    font-family: 'Arimo', sans-serif;    
    width: 70%;
    
    
}


#form {
    padding-bottom: 30px;
}

